
  padding: 15px;
}

.anvil-role-tonal-card {
  overflow: hidden;
  border-radius: 12px;
  background-color: %color:Surface Variant%;
  padding: 15px;
}


/* full_width_row sections go full bleed */
.column-panel.anvil-role-card > .anvil-panel-section > .anvil-panel-section-container.full-width-row {
  margin-left: -12px;
  margin-right: -12px;
  width: initial;
  max-width: initial;
}

/* If the first row of a card is a full_width_row, it goes to the top */
.column-panel.anvil-role-card > .anvil-panel-section:first-child > .anvil-panel-section-container.full-width-row {
  margin-top: -8px;
}
.column-panel.anvil-role-card > .anvil-panel-section:last-child > .anvil-panel-section-container.full-width-row {
  margin-bottom: -8px;
}



/* Component: TextBox + TextArea */

/*this affects dropdowns, text boxes and text areas:*/
input.anvil-component, textarea.anvil-component, .anvil-component select, .anvil-datepicker input {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px 4px 0 0;
  background-color: %color:Surface Variant%;
  color: %color:On Surface Variant%;
  box-shadow: none;
}

.anvil-dropdown {
  font-size: 16px;
}

.anvil-component select {
  font-size: inherit;
}

input.anvil-component, .anvil-component select, .anvil-datepicker input, textarea.anvil-component {
  padding: 8px 16px;
  border: 0;
  border-bottom: 1px solid %color:Outline%;
}

.anvil-dropdown select.form-control {
  
  -webkit-appearance: none;
  -moz-appearance: none;
/*   padding: 8px 2em 4px 0; */
  
  /* ew ew ew - select elements are weird and don't obey line-height, so we just
     set the height explicitly. Ugh. */
  height: calc(1.5em + 13px); /* 8px + 4px padding + 1px border = 13px */
}

.anvil-dropdown {
  position: relative;
}
/* Select arrow styling */
.anvil-dropdown form:before {
    content: "\25BC";
    position: absolute;
    right: 0;
    font-size: 80%;
    line-height: calc(1.8em + 8px);
    color: %color:Outline%;
    pointer-events:none;
    padding: 4px 4px;
}

.anvil-component select, .anvil-datepicker input { margin-bottom: 4px; }
input.anvil-component.anvil-spacing-below-none { margin-bottom: 4px; }
input.anvil-component.anvil-spacing-below-small { margin-bottom: 8px; }
input.anvil-component.anvil-spacing-below-medium { margin-bottom: 12px; }
input.anvil-component.anvil-spacing-below-large { margin-bottom: 20px; }

input.anvil-component::-webkit-input-placeholder, textarea.anvil-component::-webkit-input-placeholder {
  color: %color:On Surface%;
}
input.anvil-component::-moz-placeholder, textarea.anvil-component::-moz-placeholder {
  color: %color:On Surface%;
}
input.anvil-component::placeholder, textarea.anvil-component::placeholder  {
  color: %color:On Surface%;
}

.app-bar input.anvil-component::-webkit-input-placeholder, .app-bar textarea.anvil-component::-webkit-input-placeholder {
  color: %color:On Surface%;
}
.app-bar input.anvil-component::-moz-placeholder, .app-bar textarea.anvil-component::-moz-placeholder {
  color: %color:On Surface%;
}
.app-bar input.anvil-component::placeholder, .app-bar textarea.anvil-component::placeholder  {
  color: %color:On Surface%;
}

input.anvil-component:hover, input.anvil-component:focus, textarea.anvil-component:hover, textarea.anvil-component:focus, 
.anvil-component select:hover, .anvil-component select:focus, .anvil-datepicker input:hover, .anvil-datepicker input:focus {
  border-bottom: 2px solid %color:Primary%;
  padding-bottom: 7px;
  box-shadow: none;
}


input.anvil-component[disabled], .anvil-component select[disabled], .anvil-datepicker input[disabled], textarea.anvil-component[disabled], 
textarea.anvil-component.anvil-role-input-error[disabled], input.anvil-component.anvil-role-input-error[disabled], 
.anvil-component.anvil-role-input-error select[disabled], .anvil-datepicker.anvil-role-input-error input[disabled] {
  background-color: %color:Dark Overlay 1%;
  color: %color:On Disabled%;
  border-bottom: 1px solid %color:On Disabled%;
  padding-bottom: 8px;
}

.anvil-component select:hover, .anvil-component select:focus {
  padding-bottom: 3px;
}

/* Outlined role for text areas, text boxes, drop downs and date pickers */
textarea.anvil-component.anvil-role-outlined, input.anvil-component.anvil-role-outlined, 
.anvil-component.anvil-role-outlined select, .anvil-datepicker.anvil-role-outlined input {
  background-color: transparent;
  border: 1px solid %color:Outline%;
  border-radius: 4px;
  color: %color:On Surface%;
}

textarea.anvil-component.anvil-role-outlined:hover, textarea.anvil-component.anvil-role-outlined:focus, 
input.anvil-component.anvil-role-outlined:hover, input.anvil-component.anvil-role-outlined:focus,
.anvil-component.anvil-role-outlined select:hover, .anvil-component.anvil-role-outlined select:focus,
.anvil-datepicker.anvil-role-outlined input:hover, .anvil-datepicker.anvil-role-outlined input:focus{
  border: 2px solid %color:Primary%;
  padding: 7px 15px;
}

textarea.anvil-component.anvil-role-outlined-error:hover, textarea.anvil-component.anvil-role-outlined-error:focus, 
input.anvil-component.anvil-role-outlined-error:hover, input.anvil-component.anvil-role-outlined-error:focus,
.anvil-component.anvil-role-outlined-error select:hover, .anvil-component.anvil-role-outlined-error select:focus,
.anvil-datepicker.anvil-role-outlined-error input:hover, .anvil-datepicker.anvil-role-outlined-error input:focus{
  border: 2px solid %color:Error%;
  padding-bottom: 6px;
}

textarea.anvil-component.anvil-role-outlined[disabled], input.anvil-component.anvil-role-outlined[disabled], 
.anvil-component.anvil-role-outlined select[disabled], .anvil-datepicker.anvil-role-outlined input[disabled], 
textarea.anvil-component.anvil-role-outlined-error[disabled], input.anvil-component.anvil-role-outlined-error[disabled], 
.anvil-component.anvil-role-outlined-error select[disabled], .anvil-datepicker.anvil-role-outlined-error input[disabled] {
  border: 1px solid %color:On Disabled%;
  color: %color:On Disabled%;
  padding-bottom: 8px;
}

.daterangepicker td.active {
  background: %color:Primary%;
}

.daterangepicker td.available:hover {
  background: %color:Dark Overlay 2%;
}

.daterangepicker td.active:hover {
  background: linear-gradient(0deg, %color:Light Overlay 1%, %color:Light Overlay 1%), %color:Primary%;
}

.daterangepicker td.off {
  color: %color:On Disabled%;
}

textarea.anvil-component.anvil-role-outlined-error, input.anvil-component.anvil-role-outlined-error, 
.anvil-component.anvil-role-outlined-error select, .anvil-datepicker.anvil-role-outlined-error input {
  color: %color:Error%;
  background-color: transparent;
  border: 1px solid %color:Error%;;
  border-radius: 4px;
}

textarea.anvil-component.anvil-role-input-error, input.anvil-component.anvil-role-input-error, 
.anvil-component.anvil-role-input-error select, .anvil-datepicker.anvil-role-input-error input {
  color: %color:Error%;
  border-color: %color:Error%; 
}

/*TODO: figure out what this is used for*/
/* .daterangepicker .btn-success {
  color: %color:Primary 500%;
} */

/* Component: CheckBox, RadioButton */
.checkbox input, .radio input {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  background-color: %color:Surface Variant%; 
/*   color: %color:On Surface Variant%; */
}

.radio input {
  border-radius : 50%;
}

.checkbox input:hover, .radio input:hover {
  background: linear-gradient(0deg, %color:Light Overlay 1%, %color:Light Overlay 1%), %color:Surface Variant%;
}

.checkbox input:focus, .radio input:focus {
  outline: 0;
}

.radio input:focus {
  border-radius: 10px;
}

.checkbox input[type="checkbox"][disabled]:hover, .radio input[type="radio"][disabled]:hover, 
.checkbox input[type="checkbox"][disabled], .radio input[type="radio"][disabled] {
  background: %color:Disabled Container%; 
}

input[disabled] ~ span {
  cursor: not-allowed;
  color: %color:On Disabled%;
}

.checkbox input, .radio input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox input:checked, .radio input:checked {
  background-color: %color:Primary Container%;
  color: %color:On Primary Container%;
}

.checkbox input:checked:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 10px;
}

.checkbox input:indeterminate:before {
  font-family: "FontAwesome";
  content: "\f068";
  font-size: 10px;
}  

.radio input:checked:before {
  font-family: "FontAwesome";
  content: "\f111";
  font-size: 8px;
}

.checkbox, .radio {
  font-size: 16px;
}

/* Data Grids */
.anvil-role-tonal-data-grid.anvil-data-grid > .data-grid-child-panel>div.auto-grid-header {
  background: linear-gradient(0deg, %color:Primary Overlay 2%, %color:Primary Overlay 2%), %color:Background%;
  border-bottom: 1px solid %color:Surface Variant%;
  border-radius: 24px 24px 0 0;
}

.anvil-role-tonal-data-grid.anvil-data-grid > .data-grid-child-panel>div.auto-grid-header div.data-row-col > div {
  padding: 12px;
  text-align: center !important;
}

.anvil-role-tonal-data-grid.anvil-data-grid {
  border-radius: 24px;
  border: 1px solid %color:Surface Variant%;
}

.anvil-role-tonal-data-grid.anvil-data-grid .data-grid-child-panel div.data-row-col {
  border-left: 1px solid %color:Surface Variant%;
  border-bottom: 1px solid %color:Surface Variant%;
}

.anvil-role-tonal-data-grid.anvil-data-grid .data-grid-child-panel div.data-row-col:first-child {
  border-left: 0;
}

.anvil-role-tonal-data-grid.anvil-data-grid > .data-grid-child-panel>div.auto-grid-header div.data-row-col {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}


/*Plots*/

div.plot-container.plotly svg.main-svg {
  border: 1px solid %color:Surface Variant%;
  border-radius: 12px;
}

.plot-container.plotly .main-svg .parcoords .y-axis .axis .tick > text {
  text-shadow: none !important;
}

.plot-container.plotly .main-svg .parcoords .y-axis .axis > path.domain {
  stroke: %color:Outline%;
}

.anvil-spinner {
    --anvil-spinner-bg: %color:Surface Variant%;
}
